body {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%23e7ad76' fill-opacity='0.4' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
.iconperfil{
    width: 240px;
    height: 260px;
    margin-top: 20px;
    margin-left:540px;
    align-items:center;
    position:relative;
}

.User{
    position: relative;
    margin-top: 20px;
    margin-right: 290px;
    margin-left:220px;
   
}
.logo{
    justify-content: flex-start;
}
.header .nav-logo{
    width: 12.8%;
}
/*longin*/
.conten1 {
    width: 50%;
    max-width: 600px;
    background-size: cover;
    background: #000000;
    color: #ffff;
    background-color: rgb(239, 236, 243);
     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");
    background-position:center;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 30px;
    padding: 20px 100px;
    position: relative;
    z-index: 99;
    opacity: .85;
 }
 label{
     color: black;
 }
.header a{
    color: rgb(236, 12, 12);
    text-decoration: none;
}
.header ul{
    list-style: none;
}
.nav-main{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end ;
    height: 2px;
    padding: 0px;
}
.nav-main ul{
    display: flex;
    margin-left: 100px;
    
}
.nav-main ul li{
    padding: 10px;
   /* margin-right: 15px;*/
    
}
.nav-main ul li a{
    padding: 2px;
}
.nav-main ul li a :hover{
    border-bottom: 2px solid #ffff;
}
.mb-5{
    text-align: center;
    color: rgb(0, 0, 0);
}

.contenedor {
   width: 70%;
   max-width: 600px;
   background-size: cover;
   background: #000000;
   color: #ffff;
   background-color: rgb(239, 236, 243);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");
   background-position:center;
   margin-left: auto; 
   margin-right: auto;
   margin-top: 20px;
   padding: 25px 100px;
   position: relative;
   z-index: 99;
   opacity: .85;
}

.contenedor.header {
   height: calc(100vh - 55px);
   border: 3px solid #808080;
}
.colums{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: 10px 0;
}
.colums img{
    width: 100%;
    height: 180px;
}
.container{
    margin-bottom: 20px;  
}

.container .carousel-inner{
    width: 100%;
    height: 300px;
    padding-bottom: 20px;
    margin-top: 15px;
    display: flex;
    flex-direction:row;
    align-items: center;
}